body{
background:#ffffff;
font-family:Segoe UI;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.container{
width:550px;
padding:40px;
box-shadow:0 0 20px rgba(0,0,0,0.08);
border-radius:12px;
text-align:center;
}

input{
width:100%;
padding:12px;
margin:15px 0;
border-radius:6px;
border:1px solid #ccc;
}

button{
background:#007BFF;
color:white;
padding:12px 20px;
border:none;
border-radius:6px;
cursor:pointer;
font-size:16px;
}

button:hover{
background:#0056b3;
}

.card{
margin-top:15px;
padding:15px;
background:#f8f9fa;
border-radius:8px;
text-align:left;
}

.disease{
font-weight:bold;
display:flex;
justify-content:space-between;
}

.percent{
color:#007BFF;
}

.bar{
width:100%;
height:10px;
background:#ddd;
border-radius:5px;
margin:5px 0 10px 0;
}

.fill{
height:10px;
background:#007BFF;
border-radius:5px;
}

.medicine{
font-size:14px;
padding-left:20px;
}

.note{
margin-top:20px;
font-size:12px;
color:#777;
}
.back-btn{
margin-top:20px;
background:#6c757d;
color:white;
padding:10px 18px;
border:none;
border-radius:6px;
cursor:pointer;
font-size:14px;
}

.back-btn:hover{
background:#5a6268;
}
.analyse-btn{
position:absolute;
top:20px;
right:20px;
background:#28a745;
color:white;
padding:10px 15px;
border:none;
border-radius:6px;
cursor:pointer;
}

.card{
margin-top:15px;
padding:15px;
background:#f8f9fa;
border-radius:8px;
text-align:left;
}